<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tokens Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const apiPrefix = "{{ api_prefix }}";
            const uploadForm = document.getElementById('uploadForm');
            const clearForm = document.getElementById('clearForm');
            const errorButton = document.getElementById('errorButton');

            if (apiPrefix === "None") {
                uploadForm.action = "/tokens/upload";
                clearForm.action = "/tokens/clear";
                errorButton.dataset.api = "/tokens/error";
            } else {
                uploadForm.action = `/${apiPrefix}/tokens/upload`;
                clearForm.action = `/${apiPrefix}/tokens/clear`;
                errorButton.dataset.api = `/${apiPrefix}/tokens/error`;
            }

            errorButton.addEventListener('click', async () => {
                const response = await fetch(errorButton.dataset.api, {
                    method: 'POST',
                });
                const result = await response.json();
                const errorTokens = result.error_tokens;

                const errorModal = document.getElementById('errorModal');
                const errorModalContent = document.getElementById('errorModalContent');

                errorModalContent.innerHTML = errorTokens.map(token => `<p>${token}</p>`).join('');
                errorModal.classList.remove('hidden');
            });

            document.getElementById('errorModalClose').addEventListener('click', () => {
                document.getElementById('errorModal').classList.add('hidden');
            });

            document.getElementById('errorModalCopy').addEventListener('click', () => {
                const errorModalContent = document.getElementById('errorModalContent');
                const textToCopy = errorModalContent.innerText.replace(/\n\n/g, '\n');
                navigator.clipboard.writeText(textToCopy).then(() => {
                    alert('Error Tokens copied to clipboard');
                }).catch(err => {
                    alert('Copy failed, please copy manually');
                });
            });
        });
    </script>
</head>
<body class="bg-gradient-to-r from-blue-200 via-purple-200 to-pink-200 flex justify-center items-center min-h-screen">
    <div class="bg-white p-10 rounded-lg shadow-2xl w-128 text-center">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-6">Tokens Management</h1>
        <p class="text-gray-600 mb-4">Current number of available tokens:<span class="text-blue-600">{{ tokens_count }}</span></p>
        <form class="mb-2" id="uploadForm" method="post">
            <textarea class="w-full p-4 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 resize-none" name="text" placeholder="One Token per line, which can be AccessToken or RefreshToken" rows="10"></textarea>
            <p class="text-gray-600 mb-2">Note: If you mount the data folder when using Docker, you do not need to upload it again after restarting.</p>
            <button class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition duration-300 mb-2" type="submit">Upload</button>
        </form>
        <button id="errorButton" class="w-full bg-yellow-600 text-white py-3 rounded-md hover:bg-yellow-700 transition duration-200 mt-2">View Error Tokens</button>
        <p class="text-gray-600 mt-2">Click Clear to clear uploaded and error tokens.</p>
        <form id="clearForm" method="post">
            <button class="w-full bg-red-600 text-white py-3 rounded-md hover:bg-red-700 transition duration-300" type="submit">Clear Tokens</button>
        </form>
    </div>
    
    <div id="errorModal" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-150">
            <h2 class="text-2xl font-bold mb-4">Error Tokens</h2>
            <div id="errorModalContent" class="list-disc list-inside text-left mb-4"></div>
            <div class="flex justify-end space-x-4">
                <button id="errorModalCopy" class="bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 transition duration-300">Copy</button>
                <button id="errorModalClose" class="bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700 transition duration-300">Close</button>
            </div>
        </div>
    </div>
</body>
</html>
