<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokens Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const apiPrefix = "{{ api_prefix }}";
            const uploadForm = document.getElementById('uploadForm');
            const clearForm = document.getElementById('clearForm');

            if (apiPrefix === "None") {
                uploadForm.action = "/tokens/upload";
                clearForm.action = "/tokens/clear";
            } else {
                uploadForm.action = `/${apiPrefix}/tokens/upload`;
                clearForm.action = `/${apiPrefix}/tokens/clear`;
            }
        });
    </script>
</head>
<body class="bg-gradient-to-r from-blue-200 via-purple-200 to-pink-200 flex justify-center items-center min-h-screen">
    <div class="bg-white p-10 rounded-lg shadow-2xl w-128 text-center">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-6">Tokens Management</h1>
        <p class="text-gray-600 mb-6">Currently available number of Tokens:<span class="text-blue-600">{{ tokens_count }}</span></p>
        <form id="uploadForm" method="post" class="mb-6">
            <textarea name="text" rows="10" placeholder="One Token per line, which can be AccessToken or RefreshToken" class="w-full p-4 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 resize-none"></textarea>
            <p class="text-gray-600 mb-4">Note: If you mount the data folder when using docker, you do not need to upload it again after restarting.</p>
            <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition duration-300 mb-4">Upload</button>
        </form>
        <form id="clearForm" method="post">
            <button type="submit" class="w-full bg-red-600 text-white py-3 rounded-md hover:bg-red-700 transition duration-300">Clear Tokens</button>
        </form>
        <p class="text-gray-600 mt-6">Click Clear to clear all saved Tokens</p>
    </div>
</body>
</html>
